html {
    height: 100%;

    background-image: url('../photo/Samsung Wallpaper_03.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    width: 370px;
    height: calc(100% - 30px);

    margin: 0px auto;
    padding: 30px 20px 0px 20px;
    background-color: rgba(255, 255, 255, 0.767);

    overflow-y: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}
body::-webkit-scrollbar-track {
    background-color: grey;
}

div.title {
    width: 370px;
    height: 40px;
    margin: 5px auto 30px auto;

    text-align: center;
    font-size: x-large;
    font-weight: 600;
}