.login-form {
    display: table;
    width: 100%;
}

label, input {
    display: table-row;
    padding: 5px;
}

input:not(.login-button) {
    width: 360px;
    margin-top: 5px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0 0 2px 0;
}

input.login-button {
    width: 370px;
    margin-top: 10px;
    background-color: black;

    color: white;
    font-size: medium;
    font-weight: 500;
}

div.join-button {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.67);

    color: white;
    font-size: medium;
    font-weight: 500;

    text-align: center;
    padding: 5px;

    float: right;
}