<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=deviceInfo-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/error.css">
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <title>Error Page</title>
</head>
<body>
  <div class="title">
    <p>에러 페이지</p>
  </div>
  <div class="message-box">
    <p>[에러 메시지]</p>
    <p th:text="${errorMessage}">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla fuga illo, adipisicing elit. Nulla fuga illo, officia repellat provident odit praesentium suscipit doloremque </p>
  </div>
  <div>
    <button><a href="http://localhost:8080/auth/login">로그인 화면으로 이동</a></button>
    <button><a href="http://localhost:8080/auth/join">회원가입 화면으로 이동</a></button>
    <button><a href="http://localhost:8080/main">메인 화면으로 이동</a></button>
  </div>
</body>
</html>