<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=deviceInfo-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/join.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <title>Join Page</title>
</head>
<body>
    <div class="title">
        <p>가입하기</p>
    </div>
    <form action="http://localhost:8080/auth/join" method="post" class="join-form">
        <label for="pat">
            smartthings PAT
        </label>
        <input type="text" name="pat" id="pat" required>
        <label for="username">
            username
        </label>
        <input type="text" name="username" id="username" required>
        <label for="password">
            password
        </label>
        <input type="text" name="password" id="password" required>
        <input type="submit" id="submit" value="가입하기" class="join-button">
    </form>
    <div class="announcement-box">
        <p style="font-size: larger; font-weight: 600">PAT를 발급받는 방법</p>
        <a href="https://support.actiontiles.com/en/knowledge-bases/8/articles/10467-smartthings-personal-access-token" target="_blank">발급 절차 안내 링크</a>  
        <br><br>
        위 링크에 있는
        <br>
        "Follow these steps to create a new PAT"
        <br>
        안내 지시를 따라서 발급합니다. 발급할 때 정상적인 이용을 위하여 "권한 범위" 설정에서 [장치]와 [장치 프로필]에 모두 체크해 줍니다.
        <br><br>
        발급 과정은 삼성 Smartthings에 의해서 관리되며, 인증 과정을 거치기 때문에 안전합니다.
        <br><br>
        PAT를 등록해야 정상적으로 Smartthings에 연동된 IoT 기기들을 조작할 수 있습니다.
    </div>
</body>
</html>