.logout-icon {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    cursor:pointer;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.logout-icon:hover {
    color: rgb(14, 89, 230);
}

div.device-status-box {
    --status-box-width: calc(370px / 2 - 40px);
    --status-box-padding: 10px;

    color: rgb(255, 255, 255);
    width: var(--status-box-width);
    height: 110px;
    padding: var(--status-box-padding);
    background-color: rgb(6, 9, 36);

    float: left;
    margin: 7px;

    display:block;
    border: 3px solid black;
    border-radius: 10px;
}

div.device-status-box:hover {
}
div.device-info-box {
    height: 50%;
    width: 83%;
    float: left;
}
div.device-label {
    font-size: larger;
    font-weight: 500;
}
div.device-control-box {
    height: 50%;
    width: 100%;
}
div.power-icon:hover {
    cursor: pointer;
}
div.plug-icon {
    color: rgb(232, 67, 247);
    float: left;
}
div.device-control {
    float: right;
}
div.info-icon {
    margin: 25px 0 0 0
}
div.info-icon:hover {
    cursor: pointer;
}

select.device-select {
    width: 200px;
    height: 20px;
    margin: 10px 0px 20px 0px;
    display: block;
    border-radius: 5px;
}